# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Python envs & cache
venv/
.venv/
__pycache__/
*.py[cod]

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js build output
.next/
out/
build/
dist/

# OS files
.DS_Store
Thumbs.db

# Env files (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
.env.development
.env.staging
